--swiftversion 5.9
--indent 4
--tabwidth 4
--allman false
--maxwidth 120
--wraparguments preserve
--wrapcollections preserve
--commas inline
--stripunusedargs closure-only
--decimalgrouping 3,6
--exponentcase lowercase
--fractiongrouping disabled
--hexliteralcase uppercase
--linebreaks lf
--self insert
--binarygrouping 4,8
--trimwhitespace always
--typeattributes prev-line
--funcattributes same-line
--extensionacl on-extension
--wrap-conditions after-first
--disable wrapMultilineStatementBraces
--exclude build,.specify,ai,.github,specs
