name: SwiftLint

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '**.swift'
  push:
    branches: [ main ]
    paths:
      - '**.swift'

jobs:
  swiftlint:
    runs-on: macos-14

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install SwiftLint
      run: brew install swiftlint

    - name: Run SwiftLint
      run: swiftlint lint --strict
